mixin page(dir)
    .page(class='page-'+dir)
        header
            img(class="header-club" src="../loghi/club.png" alt="logo club" height="30px")
            h1 Scheda Aria (didattica)
            div F.I.P.S.A.S.
            img(class="header-didattica-logo" src="../loghi/fipsas.png" alt="logo club" height="30px")
        block

mixin field(label, info)
  .field(class="field-" + label.toLowerCase().replace(/[\.°]/, '').replace(/\s/g, '-'))
    span.field-label= label
    if info
        span.field-info= info
    span.field-value
        if block
            block
        else
            |

mixin multifield(label, info)
  .field(class="field-" + label.toLowerCase().replace(/[\.°]/, '').replace(/\s/g, '-'))
    span.field-label= label
    if info
        span.field-info= info
    span.field-value
    span.field-value
    span.field-value

mixin tipo(entry)
    case entry
        default
            | no no

doctype html
meta(charset="utf-8")
link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,900" rel="stylesheet")
link(rel="stylesheet" href="style.css")
link(rel="stylesheet" media="print" href="print.css")

body
    each dive in Logbook
        +page('right')
            .panel
                .intro
                    +field('Immersione n°')
                        | #{dive.$.ID}
                    +field('Data')
                        | #{dive.Divedate}
                .place
                    .place-str
                        +field('Luogo')
                            | #{dive.City[0].$.Name} - #{dive.Country[0].$.Name}
                        +field('Punto')
                            | #{dive.Place[0].$.Name}
                    .place-data
                        +field('Lat.')
                            | #{dive.Place[0].Lat[0]}
                        +field('Long.')
                            | #{dive.Place[0].Lon[0]}
            .panel
                .panel
                    h2 Quadro 1 - Pianificazione dell'immersione in curva di sicurezza
                .plan
                    .plan-programmazione
                        .plan-tempi
                            .panel.plan-far
                                h3 immersione ripetitiva
                                +field('FAR imm. prec.')
                                +field('intervallo di sup.')
                                +field('FAR fine int.sup.')
                                +field('penalità', '(a)')
                            .panel.plan-steps
                                h3
                                    span prof.
                                    span tempi
                                    span cons.
                                
                                +multifield('fondo reale', '(b)')
                                +multifield('sosta profonda', '(c)')
                                +multifield('risalita', '(d)')
                                +multifield('sosta sic.+emers.', '(f)')
                        .panel.plan-legend
                            div FAR = Fattore Azoto Residuo
                            div tempo di tabella=a+b+c [+d (consigliato)]
                            div durata=b+c+d+f
                        
                    .panel.plan-recap
                        h3 riepilogo
                        +field('prof. tab.')
                        +field('tempo tab.')
                        +field('durata')
                        +field('FAR')
                        +field('consumo')

            .panel
                .panel
                    h2 Quadro 2 - Descrizione dell'immersione
                .panel.descr
                    +field('scopo', '(didattica, svago, esplorazione, foto, ...)')
                        | #{dive.Divetype}
                    +field('tipo', '(da riva, da barca, secca, notturna, relitto,...)')
                        case dive.Entry.join('')
                            when "Boat"
                                | da barca
                            default
                                | #{dive.Entry.join('|')}
                        | /
                        case dive.Water.join('')
                            when "Salt"
                                | in mare
                            default
                                | #{dive.Water.join('|')}
                .panel
                    h3 Condizioni
                    .cond
                        .cond-ambient
                            h4 ambientali
                            .row
                                .label meteo:
                                +field('sereno')
                                +field('coperto')
                                +field('pioggia')
                            .row
                                .label mare:
                                +field('calmo')
                                +field('poco mosso')
                                +field('mosso')
                            .row
                                .label visibilità:
                                +field('buona')
                                +field('sufficiente')
                                +field('scarsa')
                            .row
                                .label corrente:
                                +field('assente')
                                +field('debole')
                                +field('forte')
                        .cond-pers
                            h4 personali / sintomi
                            +field('prima')
                            +field('')
                            +field('dopo')
                            +field('')
                
                .panel
                    h3 Attrezzatura
                
                .panel
                    h3 Profilo dell'Immersione
                
                .panel
                    h3 Quadro riassuntivo dell'immersione
        +page('left')
            h2 Annotazioni
            p.note (compagni d'immersione, indirizzi, numeri telefonici, punti di riferimento, piantina della zona, profili della costa e dei fondali, osservazioni naturalistiche o archeologiche, ecc.)
            .grid