mixin page(dir)
    .page(class='page-'+dir)
        header
            img(class="header-club" src="./loghi/club.png" alt="logo club" height="30px")
            h1 Scheda Aria (didattica)
            div F.I.P.S.A.S.
            img(class="header-didattica-logo" src="./loghi/fipsas.png" alt="logo club" height="30px")
        block

mixin field(label, info)
  .field(class="field-" + (label || 'empty').toLowerCase().replace(/[\.°]/, '').replace(/\s/g, '-'))
    if label
        span.field-label= label
    if info
        span.field-info= info
    span.field-value
        if block
            block
        else
            |

mixin multifield(label, info)
  .field(class="field-" + label.toLowerCase().replace(/[\.°]/, '').replace(/\s/g, '-'))
    span.field-label= label
    if info
        span.field-info= info
    span.field-value
    span.field-value
    span.field-value

mixin field-check(label, variants, field)
    +field(label)
        if variants.includes(field[0].toLowerCase().trim())
            | ✔

mixin tipo(entry)
    case entry
        default
            | no no

doctype html
meta(charset="utf-8")
link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,900" rel="stylesheet")
link(rel="stylesheet" href="style.css")
link(rel="stylesheet" media="print" href="print.css")
script(src="https://code.highcharts.com/highcharts.js")

body
    each dive in Logbook
        +page('right')
            .panel
                .intro
                    +field('Immersione n°')
                        | #{dive.$.ID}
                    +field('Data')
                        | #{dive.Divedate}
                .place
                    .place-str
                        +field('Luogo')
                            | #{dive.City[0].$.Name} - #{dive.Country[0].$.Name}
                        +field('Punto')
                            | #{dive.Place[0].$.Name}
                    .place-data
                        +field('Lat.')
                            | #{parseFloat(dive.Place[0].Lat[0]).toFixed(4)}
                        +field('Long.')
                            | #{parseFloat(dive.Place[0].Lon[0]).toFixed(4)}
            .panel
                .panel
                    h2 Quadro 1 - Pianificazione dell'immersione in curva di sicurezza
                .plan
                    .plan-programmazione
                        .plan-tempi
                            .panel.plan-far
                                h3 immersione ripetitiva
                                +field('FAR imm. prec.')
                                +field('intervallo di sup.')
                                    | #{dive.Rep ? dive.Surfint : '-'}
                                +field('FAR fine int.sup.')
                                +field('penalità', '(a)')
                            .panel.plan-steps
                                h3
                                    span prof.
                                    span tempi
                                    span cons.
                                
                                +multifield('fondo reale', '(b)')
                                +multifield('sosta profonda', '(c)')
                                +multifield('risalita', '(d)')
                                +multifield('sosta sic.+emers.', '(f)')
                        .panel.plan-legend
                            div FAR = Fattore Azoto Residuo
                            div tempo di tabella=a+b+c [+d (consigliato)]
                            div durata=b+c+d+f
                        
                    .panel.plan-recap
                        h3 riepilogo
                        +field('prof. tab.')
                        +field('tempo tab.')
                        +field('durata')
                        +field('FAR')
                        +field('consumo')

            .panel
                .panel
                    h2 Quadro 2 - Descrizione dell'immersione
                .panel.descr
                    +field('scopo', '(didattica, svago, esplorazione, foto, ...)')
                        | #{dive.Divetype}
                    +field('tipo', '(da riva, da barca, secca, notturna, relitto,...)')
                        case dive.Entry.join('')
                            when "Boat"
                                | da barca
                            default
                                | #{dive.Entry.join('|')}
                        | /
                        case dive.Water.join('')
                            when "Salt"
                                | in mare
                            default
                                | #{dive.Water.join('|')}
                .panel
                    h3 Condizioni
                    .cond
                        .cond-ambient
                            h4 ambientali
                            .row
                                .label meteo:
                                +field-check('sereno', ['sereno'], dive.Weather)
                                +field-check('coperto', ['foschia', 'nuvoloso'], dive.Weather)
                                +field-check('pioggia', ['pioggia', 'burrasca', 'neve'], dive.Weather)
                            .row
                                .label mare:
                                +field-check('calmo', ['nessuno', 'normale', 'calmo'], dive.Surface)
                                +field-check('poco mosso', ['poco mosso', 'leggero'], dive.Surface)
                                +field-check('mosso', ['mosso'], dive.Surface)
                            .row
                                .label visibilità:
                                +field-check('buona', ['good'], dive.Visibility)
                                +field-check('sufficiente', ['average'], dive.Visibility)
                                +field-check('scarsa', ['bad'], dive.Visibility)
                            .row
                                .label corrente:
                                +field-check('assente', [''], dive.UWCurrent)
                                +field-check('debole', ['media'], dive.UWCurrent)
                                +field-check('forte', ['TODO: find this'], dive.UWCurrent)
                        .cond-pers
                            h4 personali / sintomi
                            +field('prima')
                            +field('')
                            +field('dopo')
                            +field('')
                
                .panel
                    h3 Attrezzatura
                    .attrezzatura
                        +field('bombole', 'bombole (l)')
                            | #{dive.Tanksize}
                        +field('muta', 'muta')
                            | #{dive.Divesuit[0]}
                        +field('zavorra', 'zavorra (kg)')
                            | #{dive.Weight}
                        +field('tabelle', 'tabelle/computer')
                            | #{dive.Computer[0]}
                        +field('altro', 'altro')
                
                .panel
                    h3 Profilo dell'Immersione
                    .chart(id="chart-" + dive.Number)
                    script
                        | var myChart = Highcharts.chart('chart-#{dive.Number}', {
                        |   chart: {
                        |       type: 'line'
                        |   },
                        |   title: {
                        |       text: null
                        |   },
                        |   legend: {
                        |       floating: true,
                        |       align: 'right',
                        |       verticalAlign: 'bottom',
                        |       itemStyle: { fontSize: '8px', fontWeight:'normal' },
                        |       symbolHeight: .001,
                        |       y: -20
                        |   },
                        |   credits: { enabled: false },
                        |   tooltip: { enabled: false },
                        |   plotOptions: {line: {
                        |       lineWidth: 1,
                        |       states: {hover: { enabled: false }} }},
                        |   xAxis: {
                        |       labels: {
                        |           style: { fontSize: '8px' },
                        |           formatter: function() { return Math.floor(this.value / 60) }
                        |       },
                        |       categories: !{JSON.stringify(dive.Times)},
                        |       minTickInterval: 40,
                        |   },
                        |   yAxis: {
                        |       reversed: true,
                        |       tickAmount: 4,
                        |       title: { text: null },
                        |       labels: { style: { fontSize: '8px' } }
                        |   },
                        |   series: [
                        |       {
                        |            name: 'Profondità',
                        |            data: !{JSON.stringify(dive.Depths)}
                        |       },
                        |       {
                        |            name: 'Temp',
                        |            data: !{JSON.stringify(dive.Temps)}
                        |       }
                        |   ]
                        | });
                
                .panel.riassunto
                    header
                        h3 Quadro riassuntivo dell'immersione
                        h4 tempi parziali
                    .columns
                        .riassunto-1
                            +field('ora inizio imm.')
                                | #{dive.Entrytime}
                            +field('durata', '(B+C+D+E+F)')
                                | #{dive.Divetime}
                            +field('press. iniz.', '(bar)')
                                | #{Math.round(dive.PresS)}
                            +field('volume iniz.', '(l)')
                                | #{dive.PresS * dive.Tanksize}
                            +field('FAR iniziale')
                        .riassunto-2
                            +field('ora fine imm.')
                                | #{dive.Exittime}
                            +field('prof. max.', '(m)')
                                | #{dive.Depth}
                            +field('press. fin.', '(bar)')
                                | #{Math.round(dive.PresE)}
                            +field('consumo', '(l)')
                                | #{(dive.PresS-dive.PresE)*dive.Tanksize}
                            +field('FAR finale')
                        .riassunto-parziali
                            +field('tempo di fondo', '(B)')
                                | #{ Math.round(dive.Divetime) - 5 - Math.ceil((dive.Depth - 6)/9) - (dive.Depth > 18 ? 2.5 : 0)}
                            +field(`sosta prof. ${dive.Depth > 18 ? Math.ceil(dive.Depth/2) + 'm' : '' }`, '(C)')
                                | #{dive.Depth > 18 ? '2.5' : '-' }
                            +field('risalita', '(D)')
                                | #{Math.ceil((dive.Depth - 6)/9)}
                            +field('deco a 6 m', '(E)')
                                | #{dive.Deco ? dive.Decostops[0].trim() : '-'}
                            +field('sosta sic. +emers.', '(F)')
                                | 5
                        
  
      
        +page('left')
            h2 Annotazioni
            p.note (compagni d'immersione, indirizzi, numeri telefonici, punti di riferimento, piantina della zona, profili della costa e dei fondali, osservazioni naturalistiche o archeologiche, ecc.)
            .grid